<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="true">
	<root>
		<level value="ALL" />
		<appender-ref ref="RollingLogFileAppender" />
		<appender-ref ref="ConsoleAppender" />
	</root>

	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file type="log4net.Util.PatternString" value="${LocalAppData}\Ladadogger\logs\" /> 
		<appendToFile value="true" />
		<rollingStyle value="Composite" />
		<datePattern value="'log-'yyyyMMdd'.xlog'" />
		<maxSizeRollBackups value="1" />
		<maximumFileSize value="10MB" />
		<staticLogFileName value="false" />

		<layout type="log4net.Layout.XmlLayout">
			<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
		</layout>
	</appender>

	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date %level %logger - %message%newline" /> 
		</layout>
	</appender>
</log4net>
